<form>
  <div class="form-group">
    <label for="userInput">User</label>
    <input type="text" class="form-control" id="userInput" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="messageInput">Message</label>
    <input type="text" class="form-control" id="messageInput" [(ngModel)]="message" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" class="btn btn-primary" (click)="sendMessage()">Send</button>
</form>
<div>
  <h4>Messages:</h4>
  <div *ngFor="let message of messages">
    {{message}}
  </div>
</div>

